@page
@model BookAuthorApp.Pages.IndexModel
<h1>Welcome to BookAuthorApp</h1>
<p>
    <a class="btn btn-primary" href="/Authors">Authors</a>
    <a class="btn btn-primary" href="/Books">Books</a>
</p>
