@page
@model BookAuthorApp.Pages.Books.IndexModel

<h1>Books</h1>

<a asp-page="Create" class="btn btn-primary mb-3">Add Book</a>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var book in Model.Books)
{
        <tr>
            <td>@book.Title</td>
            <td>@book.Author!.LastName</td>
            <td>
                
                <a asp-page="Edit" asp-route-id="@book.Id" class="btn btn-sm btn-warning">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>


